@page
@model LoadDB_Razor.Pages.StdNew.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <p>@Model.state</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                <form method="post">
                    <input type="text" hidden name="state" asp-for="@Model.state" value="@(Model.state+1)" />
                    <input type="submit" value="Fullname"/>
                </form>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Depart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* yêu cầu chỉ riêng thằng name,
tạo một button header, khi click chuột lần 1 thì nó sẽ sort dữ liệu theo tăng dần (Alphabet),
click chuột lần tiếp theo -> giảm dần (Alphabet)
click chuột lần 3 thì (disorder sort theo id tăng dần)
click chuột lần 4 thì quay lại giống như lần 1 *@