@* @page
@model Razor.Pages.Demo.IndexModel
@{
} *@

@page
@model Razor.Pages.Demo.ViewModel
@{
}
<h1>Hello World!</h1>
<p>Id: @Model.Id</p>
<p>Name: @Model.NameView</p>
@* <h1>Hello World!</h1>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p> *@
@* <p>Cach 1: Su dung truyen tham so qua name</p>
<form method="post">
    <div>
        <label>ID: </label>
        <input name="id" type="text" />
    </div>
    <div>
        <label>Name: </label>
        <input name="name" type="text" />
    </div>
    <input type="submit" value="Submit" />
</form> *@


@* <p>Cach 2: Truyen parameter ben OnPost with nameOfParam is same in element input</p>
<form method="post">
    <div>
        <label>ID: </label>
        <input name="id" type="text" />
    </div>
    <div>
        <label>Name: </label>
        <input name="name" type="text" />
    </div>
    <input type="submit" value="Submit" />
</form> *@


@* <p>Cach 3: Su dung ICollectionForm </p>
<form method="post">
    <div>
        <label>ID: </label>
        <input name="id" type="text"/>
    </div>
    <div>
        <label>Name: </label>
        <input name="name" type="text" />
    </div>
    <input type="submit" value="Submit"/>
</form> *@


@* <p>Cach 4: Su dung asp-for @Model.Attr</p> *@
@* <form method="post">
    <div>
        <label>ID: </label>
        <input asp-for="@Model.Id" type="text" />
    </div>
    <div>
        <label>Name: </label>
        <input asp-for="@Model.Name" type="text" />
    </div>
    <input type="submit" value="Submit" />
</form> *@

@* <p>Call Method post from other PageModel</p>
<form method="post" asp-page="View">
    <div>
        <label>ID: </label>
        <input name="id" type="text" />
    </div>
    <div>
        <label>Name: </label>
        <input name="name" type="text" />
    </div>
    <input type="submit" value="Submit" />
</form> *@

<p>passing data to other page model</p>
<form method="post" asp-page="View">
    <div>
        <label>ID: </label>
        <input asp-for="@Model.Id" type="text" />
    </div>
    <div>
        <label>Name: </label>
        @* BBinding data to NameView cua ViewModel *@
        <input asp-for="@Model.NameView" type="text" />
    </div>
    <input type="submit" value="Submit" />
</form>
